<div class="area"></div>
<nav class="main-menu">
  <ul>
      <li class="mb-2 py-1">
          <a routerLink="#">
            <img class="mx-3" src="./assets/images/side-bar-icons/school.png" alt="School">
              <span class="nav-text"> 
                {{ 'Schools' | translate }} 
              </span>
          </a> 
        
      </li> 
      <li class="mb-2  py-1 has-subnav">
          <a routerLink="#">
              <img class="mx-3" src="./assets/images/side-bar-icons/art.png" alt="Art school">
              <span class="nav-text">
                {{ 'Art_schools' | translate }}
              </span>
          </a> 
          
      </li>
      <li class="mb-2  py-1 has-subnav">
          <a routerLink="#">
              <img class="mx-3" src="./assets/images/side-bar-icons/sport.png" alt="Sport school">
              <span class="nav-text">
                {{ 'Sport_schools' | translate }}
              </span>
          </a>
          
      </li>
      <li class="mb-2  py-1 has-subnav">
          <a routerLink="#">
              <img class="mx-3" src="./assets/images/side-bar-icons/kindergarten.png" alt="Kindergarten">
              <span class="nav-text">
                {{ 'Kindergartens' | translate }} 
              </span>
          </a>

      </li>
  </ul>
</nav>