<nav class="navbar navbar-expand-lg navbar-dark navbg">
  <a class="navbar-brand col-2" href="#">Best Choice</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="language position-absolute">
    <select id="language" #lang (change)="switchLang(lang.value)">
      <option value="am"><button >{{ 'Armenian' | translate }}</button></option>
      <option value="ru"><button >{{ 'Russian' | translate }}</button></option>
      <option value="en"><button >{{ 'English' | translate }}</button></option>
    </select>
  </div>
  <div class="collapse navbar-collapse col-8 text-center" id="navbarNav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link" href="">{{ 'Home' | translate }} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link" href="#">{{ 'AboutUs' | translate }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link" href="#">{{ 'ContactUs' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="col-2"></div>
</nav>
