<div class="container-fluid position-relative p-0 welcome">
  <img class="w-100" src="./assets/images/welcome.jpg" alt="">
  <div class="position-absolute h-100 w-100 d-flex flex-column justify-content-center
   align-items-center welcome-container p-5">
    <h1 class="text-white">{{ 'BestChoice' | translate }}</h1>
    <p class="text-white text-center w-50 ">{{ 'WelcomeText' | translate }}</p>
    <a routerLink="home" class="btn btn-outline-info text-white">{{ 'GoToHomePage' | translate }}</a>
  </div>

</div>
