<div class="container">
<form [formGroup]="contactUsForm" (ngSubmit)="submitContactForm()">
  <label for="name">Name</label>
  <input formControlName="name" id="name" type="text" placeholder="Name"/>
  <div>
    <span *ngIf="(contactUsForm.controls['name'].dirty && contactUsForm.controls['name'].hasError('required')) || (contactUsForm.controls['name'].touched && contactUsForm.controls['name'].hasError('required'))">
      Name is required
    </span>
    <span *ngIf="contactUsForm.controls['name'].dirty && contactUsForm.controls['name'].hasError('pattern')">
      Invalid name. Please use only letters
    </span>
    <span *ngIf="contactUsForm.controls['name'].dirty && contactUsForm.controls['name'].hasError('minlength')">
      Invalid name. Your name should be longer then 2 characters
    </span>
    <span *ngIf="contactUsForm.controls['name'].dirty && contactUsForm.controls['name'].hasError('maxlength')">
      Invalid name. Your name should be shorter then 12 characters
    </span>
  </div>

  <label for="surname">Surname</label>
  <input formControlName="surname" id="surname" type="text" placeholder="Surname"/>
  <div>
    <span *ngIf="contactUsForm.controls['surname'].dirty && contactUsForm.controls['surname'].hasError('required') || (contactUsForm.controls['surname'].touched && contactUsForm.controls['surname'].hasError('required'))">
      Surname is required
    </span>
    <span *ngIf="contactUsForm.controls['surname'].dirty && contactUsForm.controls['surname'].hasError('pattern')">
      Invalid surname. Please use only letters
    </span>
    <span *ngIf="contactUsForm.controls['surname'].dirty && contactUsForm.controls['surname'].hasError('minlength')">
      Invalid surname. Your surname should be longer then 2 characters
    </span>
    <span *ngIf="contactUsForm.controls['surname'].dirty && contactUsForm.controls['surname'].hasError('maxlength')">
      Invalid surname. Your surname should be shorter then 12 characters
    </span>
  </div>

  <label for="email">Email</label>
  <input formControlName="email" id="email" type="email" placeholder="Email"/>
  <div>
    <span *ngIf="contactUsForm.controls['email'].dirty && contactUsForm.controls['email'].hasError('required') || (contactUsForm.controls['surname'].touched && contactUsForm.controls['surname'].hasError('required'))">
      Email field is required
    </span>
    <span *ngIf="contactUsForm.controls['email'].dirty && contactUsForm.controls['email'].hasError('pattern')">
      Invalid email
    </span>
  </div>
  <label for="phone">Phone</label>
  <div formArrayName="phones">
    <input *ngFor="let phone of contactUsForm.get('phones').controls; let i = index" formControlName="{{i}}" id="phone" type="text" placeholder="Phone"/>
  </div>
  <button type='button' (click)="addPhoneControl()">+</button>

  <textarea formControlName="subject"  rows="8" cols="80">Type your text</textarea>
  <div>
    <span *ngIf="contactUsForm.controls['subject'].dirty && contactUsForm.controls['subject'].hasError('minlength')">
      Please enter minimum 7 characters
    </span>
    <span *ngIf="contactUsForm.controls['subject'].dirty && contactUsForm.controls['subject'].hasError('required')">
      Subject is required
    </span>
  </div>
  <button>Send</button>
</form>
</div>
